*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.Game {
  height: 30vh;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 2rem;
}

.Button--reset {
  padding: 1.2rem;
}

.loading {
  font-size: 1.5rem;
}
